<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>
<body>

  <header>
    <!-- Add a class to the nav for scoping the styles -->
    <nav class="navbar">
      <ul>
        <li><a href="{{ site.url }}/">Home</a></li>
        <li><a href="{{ site.url }}/blog/blog">Blog</a></li>
        <li><a href="{{ site.url }}/about/about">About Me</a></li>
        <li><a href="{{ site.url }}/publications/publications">Publications</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} Jadesola Kareem. All Rights Reserved.</p>
  </footer>

</body>
</html>
