<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  <div id="container">
    <div class="inner">
      <header>
        <h1><a href="{{ site.url }}/">{{ site.name }}</a></h1>
        <h2>Using Machine Learning to Explore Emotional Patterns in Music for Mental Health Impact</h2>
      </header>

      <hr/>

      <section id="main_content">
        <h3>Welcome to the Research Hub</h3>
        <p>Here, we explore innovative ways to use technology and machine learning to support people with mental health challenges, such as schizophrenia and addiction. Our current project focuses on analyzing emotional patterns in sung audio using advanced neural networks to create tools that can aid emotional well-being.</p>
        {{ content }}
      </section>
    </div>
  </div>
</body>

</html>
